@import "scss/widget/rating_star";
@import "scss/widget/gender_age";
@import "scss/widget/horizontal_selector";
@import "scss/widget/chain_selector";
.bar-orange,.tabs-orange{
  background: #f90;
}
.form-row{
  padding: 3px 0px;
  .row-label{
    display: inline-block;
    width: 50px;
    &::after{
      content: '：';
    }
  }
}


.course-card{
  .title{
    white-space: normal;
  }
  p{
    position: relative;
    .location{
      font-size: 12px;

      display: block;
      margin-right: 110px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .teacher-section{
      position: absolute;
      top: 0px;
      right: 0px;
      .name{

      }
    }
    .price-section{
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 13px;
      .price{
        font-size: 16px;
        color: #fd8e51;
        font-weight: bold;
      }
    }
  }
}
.comment-card{
  padding: 8px 10px;
  .personal-info{
    .rating-position-wrapper{
      display: inline-block;
      float: right;
    }
  }
}

.appointment-card{
  padding: 8px 10px;
  .appoint-desc{
    margin-left: 20px;
  }
}
.appointment-card,.comment-card{
  .personal-info{
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
  }
  .portrait{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
  }
  .nickname{
    margin-left: 40px;
  }
  .post-time{
    font-size: 12px;
  }
}
.course-detail-container{
  .tabs{
    height: 40px;
    margin-bottom: 1px;
    .tab-item{
      line-height: 40px;
      border-right: 1px solid#ddd;
      &:last-child{
        border-right: none;
      }
    }
  }
}
.teacher-brief-intro{
  min-height: 70px;
  padding-left: 76px;
  img.portrait{
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
  }
}

.desc-row{
  font-size: 12px;
  /*border-bottom: 1px solid #ddd;*/
  padding: 2px 0px;
  .row-label{
    position: absolute;
    color: #000;
  }
  .row-value{
    white-space: normal;
    margin-left: 40px;
    display: inline-block;
    color: #333;
  }
}

.img-slider img{
  max-height: 180px;
}


.section-title{
  padding: 10px 16px;
  h2{
    font-size: 15px;
  }
}