@import "scss/widget/varible";
@import "scss/widget/rating_star";
@import "scss/widget/gender_age";
@import "scss/widget/horizontal_selector";
@import "scss/widget/chain_selector";
@import "scss/widget/top_filter";
@import "scss/widget/activity_card";
@import "scss/widget/desired_course";

@import "./home_page";
@import "./personal_homepage";

.list-view{
  .top-filter-wrapper{
    margin-top:45px;
  }
  .has-header{
    top:83px;
  }
}
.appointment-container,.comment-container,.activity-container,.activity-participator-container{
  min-height: 100px;
  .loading-hint{
    line-height: 100px;
    text-align: center;
    color: #aaa;
  }
  .comment-card:last-child{
    margin-bottom: -10px;
  }
}

.ionic-scroll{
  background: #f5f5f5;
}
.card{
  margin: 0px;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
}
.course-detail-container{
  .img-slider{
    margin-top: -1px;
  }
  .list{
    margin-bottom:10px ;
  }
}


.bar-orange,.tabs-orange{
  background: #f90;
}
.form-row{
  padding: 3px 0px;
  .row-label+.item-input-wrapper{
    margin-left: 3px;
  }
  .row-label{
    display: inline-block;
    width: 65px;
    &::after{
      content: '：';
    }
  }
}


.course-card{
  .title{
    white-space: normal;
  }
  p{
    position: relative;
    .location{
      font-size: 12px;

      display: block;
      margin-right: 110px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .teacher-section{
      position: absolute;
      top: 0px;
      right: 0px;
      .name{

      }
    }
    .price-section{
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}
.price-section{
  font-size: 13px;
  .price{
    font-size: 16px;
    color: #fd8e51;
    font-weight: bold;
    &::before{
      content: "¥";
    }
  }
}

.comment-card{
  padding: 8px 10px;
  .personal-info{
    .rating-position-wrapper{
      display: inline-block;
      float: right;
    }
  }
}

.appointment-card{
  padding: 8px 10px;
  .appoint-desc{
    margin-left: 20px;
  }
}
.appointment-card,.comment-card{
  .personal-info{
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
  }
  .portrait{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
  }
  .nickname{
    margin-left: 40px;
  }
  .post-time{
    font-size: 12px;
  }
}
.course-detail-container,.activity-detail-container{
  .tabs{
    height: 40px;
    margin-bottom: 1px;
    .tab-item-active{
      border-bottom: 3px solid $theme-color;
    }
    .tab-item{
      font-size: 16px;
      line-height: 40px;
      &:last-child{
        .tab-text{
          border-right: none;
        }
      }
      .tab-text{
        display: inline-block;
        width: 100%;
        height: 16px;
        line-height: 16px;
        margin: 12px 0px;
        border-right: 1px solid#ddd;
      }
    }
  }
}
.teacher-brief-intro{
  min-height: 70px;
  padding-left: 76px;
  img.portrait{
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
  }
  i {
    color: gray;
  }
}
.course-brief-intro{
  margin-top: -10px;
  .price-section {
    top: 8px;
    position: relative;
    .price{
      font-size: 25px;
      &::before{
        font-size: 14px;
      }
    }
  }
  .appointment-btn{
    float: right;
    padding: 5px 35px;
    font-size: 18px;
  }
}



.desc-row{
  font-size: 14px;
  /*border-bottom: 1px solid #ddd;*/
  padding: 2px 0px;
  .row-label{
    position: absolute;
    color: #aaa;
  }
  .row-value{
    white-space: normal;
    margin-left: 45px;
    display: inline-block;
    color: #333;
  }
  .course-desc-text{
    margin-top: 10px;
    margin-left: 0px;
    text-indent: 30px;
  }
}

.img-slider img{
  max-height: 180px;
}


.section-title{
  padding: 0px 0px 0px 10px;
  h2{
    font-size: 15px;
  }
}

.upload-photo-card {
  display: inline;
  margin-right:10px;
  .card-content {
    width:85px;
    height:85px;
  }
  .add-card {
    color:gray;
    background-color:white
  }
}

.me-item {
  color:gray !important;
}

.me-container {
  .item-divider {
    min-height: 20px;
  }
  .list {
    margin-bottom: 0px;
  }
  .my-row {
    background-color: white;
    padding: 0px;
    .my-col {
      color: gray;
      text-align:center;
      padding: 10px;

    }
    .border-right {
      border-right: solid 1px gray;
    }
  }
}

.discover-container {
  .item-divider {
    min-height: 20px;
  }
}

.confirm-appointment-container {
  .desc-row{
    padding: 6px 0px;
    font-size: 16px;
    .row-value{
      margin-left: 50px;
    }
    .course-desc-text{
      text-indent: 35px;
    }
  }
}

.btn-footer {
  height: 15%;
  button.footer-button {
    font-size: 16px;
  }
}

.modify-info-container {
  .img-item {
    height: 92px;
    line-height: 60px;
    img {
      width: 60px;
      height: 60px;
      position: absolute;
      right: 51px;
      border-radius: 50%;
    }
    i {
      color: gray;
    }
  }
  .text-item {
    height: 52px;
    line-height: 20px;
    span {
      position: absolute;
      right: 51px;
      color: gray;
    }
    i {
      color: gray;
    }
  }
  .item-divider {
    min-height: 20px;
  }
}

form{
  .pwd-input-wrapper{
    position: relative;
    .toggle-input-type-btn{
      display: inline-block;
      padding: 5px 10px;
      position: absolute;
      right: 0px;
      top: 12px;
      z-index: 20;
    }
  }
  .input-tip{
    display: block;
    left: 15px;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    color: gray;
  }
  label.show-tip{
    padding-bottom: 20px;
  }
  .item-input{
    box-shadow: 3px 0px 0px #4a87ee inset;;
  }
  .item-input.wrong{
    box-shadow: 3px 0px 0px #ef4e3a inset;;
  }
  .verify-code-wrapper{
    background: transparent;
    .item{
      float: left;
      width: 45%;
    }
    .verify-code{
      height: 47px;
      margin-left: 10%;
      text-align: center;
    }
  }
}


.login-container {
  .button-no-margin {
    width: 100%;
    margin: 0px;
  }
  .forget-pwd-bar {
    font-size: 15px;
    color: $theme-color;
    .forget-pwd {
      float: left;
    }
    .login-with-phone {
      float: right;
    }
  }
  .login-bottom {
    text-align: center;
    height: 120px;
    display: block;
    color: #555;
    .third-party-card {
      display: inline-block;
      padding-left:10px;
      padding-right: 10px;
      font-size: 10px;
      img {
        width: 45px;
        height: 45px;
        display: block;
      }
    }
  }
}

/*活动详情*/
.activity-detail-container{
  .activity-cover{
    height: 140px;
    text-align: center;
    overflow-y:hidden ;
    position: relative;
    .title{
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      color: #ffffff;
      display: inline-block;
      left: 0px;
      top: 0px;
      z-index: 2;
      padding: 5px 15px;
      font-size: 15px;
    }
    img{
      width: 100%;
      position: relative;
      color: #ffffff;
    }
  }
  .tabs{
    .tab-item{
      max-width: 250px;
    }
  }
}
.bottom-btn{
  position: absolute;
  bottom: 0px;
  z-index: 100;
}
.location-info-container{
  #location-info-map{
    position: absolute;
    bottom: 100px;
    top:45px;
    width: 100%;
  }
  .marker-desc{
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    span:first-child{
      font-size: 16px;
      display: block;
      margin: 10px 0px 5px 0px;
    }
    span:last-child{
      font-size: 13px;
      color: #808080;
    }
  }
}

.location-setting-container{
  .title-center{
    left: 0px !important;
    right: 80px !important;
  }
  #location-setting-map{
    position: absolute;
    top:45px;
    width: 100%;
    bottom: 0px;
  }
}

.create-activity-container{
  textarea{
    display: inline-block;
    width: 100%;
    height: 150px;
    padding: 5px 10px;
    margin-top:15px ;
  }
}

.nearby-people-container .list{
  margin-bottom: 0px;
}
