$portrait-width:50px;
.personal-homepage{
  .front-cover{
    background:url(../../img/front-cover.jpg) no-repeat center;
    height: 170px;
    position: relative;
    color: #ffffff;
    .portrait{
      width: $portrait-width;
      height: $portrait-width;
      border-radius: 50%;
      left: 50%;
      position: absolute;
      margin-left: -$portrait-width/2;
      top: 50px;
    }
    .name-and-age{
      position: absolute;
      text-align: center;
      display: block;
      width: 100%;
      top: 110px;
      .name{
        font-weight: bold;
        font-size: 15px;
      }
    }
    .social-info{
      position: absolute;
      bottom: 10px;
      width: 100%;
      &>span{
        display: inline-block;
        float: left;
        width: 50%;
        box-sizing: border-box;
        &:first-child{
          text-align: right;
          padding-right: 10px;
        }
        &:last-child{
          border-left: 1px solid #ffffff;
          padding-left: 10px;
        }
      }
      .person-num{
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  .btn-container{
    margin-top: 10px;
    text-align: center;
    &>div{
      display: inline-block;
    }
    .button{
      width: 65px;
      &:first-child{
        margin-right: 15px;
      }
    }
  }

  .desired-courses-container{
    padding: 0px;
    >ul{
      list-style: none;
      li{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: inline-block;
        width: 33.33%;
        line-height: 48px;
        border-bottom: 1px solid #ededed;
        border-right: 1px solid #ededed;
        text-align: center;
        color: #323232;
        font-size: 16px;
        float: left;
      }
    }
  }
  .brief-intro-container,.desired-courses-container{
    margin: 10px 0px;
  }
  .scroll-content{
    top:0px;
  }
  .bar-header{
    background: rgba(255,255,255,0.4);
  }
}