<div class="list">
    <div class="item">
        <div class="desc-row">
            <span class="row-label">科目</span>
            <span class="row-value"  ng-bind="course.category.name"></span>
        </div>
        <div class="desc-row">
            <span class="row-label">区域</span><span class="row-value">
            <span ng-repeat="district in course.districts">{{district.name}}<span ng-if="!$last&&course.districts.length!=1">, </span></span>
        </span>
        </div>
        <div class="desc-row">
            <span class="row-label">类型</span>
            <span class="row-value">
                <span ng-repeat="courseType in course.types">{{ 'widget.courseType.'+courseType.id | translate }}<span ng-if="!$last&&course.types.length!=1">, </span></span>
            </span>
        </div>
        <div class="desc-row">
            <span class="row-label">地点</span>
            <span class="row-value">
                <span ng-repeat="courseSite in course.sites">{{ 'widget.courseSite.'+courseSite.id | translate }}<span ng-if="!$last&&course.sites.length!=1">, </span></span></span>
        </div>
        <div class="desc-row">
            <span class="row-value course-desc-text"  ng-bind="course.describe"></span>
        </div>
    </div>
</div>
