<div>
    <ion-nav-view name="main"></ion-nav-view>
    <div class="tabs-striped tabs-background-positive tabs-color-light">
        <div class="tabs tabs-icon-left">
            <a class="tab-item" ng-class="{'active':currentStatus=='app.learn'}" ng-click="navTo('app.learn')">
                <i class="icon ion-home"></i>
                {{ 'widget.tab.learn' | translate }}
            </a>
            <a class="tab-item" ng-class="{'active':currentStatus=='app.teach'}"  ng-click="navTo('app.teach')">
                <i class="icon ion-star"></i>
                {{ 'widget.tab.teach' | translate }}
            </a>
            <a class="tab-item" ng-class="{'active':currentStatus=='app.find'}" ng-click="navTo('app.find')">
                <i class="icon ion-star"></i>
                {{ 'widget.tab.find' | translate }}
            </a>
            <a class="tab-item" ng-class="{'active':currentStatus=='app.news'}" ng-click="navTo('app.news')">
                <i class="icon ion-star"></i>
                {{ 'widget.tab.news' | translate }}
            </a>
            <a class="tab-item" ng-class="{'active':currentStatus=='app.me'}" ng-click="navTo('app.me')">
                <i class="icon ion-star"></i>
                {{ 'widget.tab.me' | translate }}
            </a>
        </div>
    </div>
</div>