<ion-view view-title="我的">
	<ion-content class="me-container">
		<div class="item item-divider"></div>
		<user-card user="user" ng-click="toPersonalHomepage()" ng-show="user != null"></user-card>
		<a class="item item-icon-left item-icon-right me-item" href="#" ng-click="openLoginModal()" ng-show="user == null" style="margin-bottom:20px;min-height:70px;"> <i class="icon ion-ios-heart-outline"></i>
			登录/注册 <i class="icon ion-ios-arrow-right"></i>
		</a>
		<div class="row my-row">
			<a class="col my-col tab tab-item tabs-icon-top border-right">
				<i class="icon ion-ios-paper-outline"></i>
				我的发布
			</a>
			<a class="col my-col tab tab-item tabs-icon-top border-right">
				<i class="icon ion-ios-star-outline"></i>
				我的收藏
			</a>
			<a class="col my-col tab tab-item tabs-icon-top">
				<i class="icon ion-ios-clock-outline"></i>
				我的预约
			</a>
		</div>
		<div class="item item-divider"></div>
		<a class="item item-icon-left item-icon-right me-item" href="#">
			<i class="icon ion-ios-heart-outline"></i>
			我的关注
			<i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right me-item" href="#">
			<i class="icon ion-ios-people-outline"></i>
			我的粉丝
			<i class="icon ion-ios-arrow-right"></i>
		</a>
		<div class="item item-divider"></div>
		<a class="item item-icon-left item-icon-right me-item" href="#">
			<i class="icon ion-ios-paper-outline"></i>
			我的二维码
			<i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right me-item" href="#">
			<i class="icon ion-ios-clock-outline"></i>
			联系我们
			<i class="icon ion-ios-arrow-right"></i>
		</a>
		<div class="item item-divider"></div>
		<a class="item item-icon-left item-icon-right me-item" href="#">
			<i class="icon ion-ios-gear-outline"></i>
			设置
			<i class="icon ion-ios-arrow-right"></i>
		</a>
	</ion-content>
</ion-view>