<ion-view view-title="发布课程">
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> 返回</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="form-row">
            <span class="row-label">类别</span>
            <chain-selector
                    selector-list="courseCategoriesList"
                    selected-model="courseForm.dataModel.category"
                    custom-options="courseForm.options.courseCategories">
            </chain-selector>
        </div>
        <div class="form-row item-input-inset">
            <span class="row-label">简介</span>
            <label class="item-input-wrapper">
                <input type="text" ng-model="courseForm.dataModel.title" placeholder="不超过20字" />
            </label>
        </div>
        <div class="form-row item-input-inset">
            <span class="row-label">价格(元)</span>
            <label class="item-input-wrapper">
                <input type="text" ng-model="courseForm.dataModel.price" />
            </label>
        </div>
        <div class="form-row">
            <span class="row-label">类型</span>
            <horizontal-selector
                    multiple="true"
                    dic-name="{{courseForm.options.courseType.dicName}}"
                    selector-list="courseForm.options.courseType.selectorList"
                    selected-model="courseForm.dataModel.types"
                    >
            </horizontal-selector>
        </div>
        <div class="form-row">
            <span class="row-label">区域</span>
            <chain-selector
                    selector-list="districtsList"
                    selected-model="courseForm.dataModel.districts"
                    custom-options="courseForm.options.districts">
                >
            </chain-selector>
        </div>

        <div class="form-row">
            <span class="row-label">地点</span>
            <horizontal-selector
                    multiple="true"
                    dic-name="{{courseForm.options.courseSite.dicName}}"
                    selector-list="courseForm.options.courseSite.selectorList"
                    selected-model="courseForm.dataModel.sites"
                    >
            </horizontal-selector>
        </div>
     </ion-content>
            <div class="bar bar-footer btn-footer">
        <button class="button button-block button-positive footer-button" ng-click="postCourseStep1()">下一步</button>
    </div>
</ion-view>
