<ion-view class="personal-homepage" view-title="个人主页">
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"> </i> 返回</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="front-cover">
            <img class="portrait"  ng-src="{{userObj.portrait|transformImgUrl}}">
            <span class="name-and-age">
                <span class="name" ng-bind="userObj.nickname"></span>
                <gender-age age="{{userObj.age}}" gender="{{userObj.gender}}"></gender-age>
            </span>
            <div class="social-info clearfix">
                <span>关注<span class="person-num" ng-bind="userObj.attentionCount"></span></span>
                <span>粉丝<span class="person-num" ng-bind="userObj.followerCount"></span></span>
            </div>
        </div>
        <div class="btn-container item" ng-if="'visit' == mode">
            <div>
                <span class="button button-positive button-small">私信</span>
                <span class="button button-positive button-small">＋关注</span>
            </div>
        </div>
        <div class="btn-container item" ng-if="'modify' == mode">
            <div>
                <span class="button button-positive button-small" ng-click="toModifyPage()">编辑</span>
            </div>
        </div>
        <div class="item brief-intro-container">
            <div class="desc-row">
                <span class="row-label">地区</span>
                <span class="row-value"  ng-bind="userObj.district.name"></span>
            </div>
            <div class="desc-row">
                <span class="row-label">简介</span><span class="row-value" ng-bind="userObj.motto"></span>
        </span>
            </div>
            <div class="desc-row">
                <span class="row-label">星座</span>
            <span class="row-value">
                <span ng-bind="'widget.constellation.'+userObj.constellation | translate "></span>
            </span>
            </div>
            <div class="desc-row">
                <span class="row-label">爱好</span>
            <span class="row-value">
                <span ng-repeat="interest in userObj.interests">{{ 'widget.interests.'+interest.id | translate }}<span ng-if="!$last&&course.sites.length!=1">, </span></span></span>
            </div>
        </div>
        <div class="section-title">
            <h2>TA想学的课程</h2>
        </div>
        <div class="item desired-courses-container">
            <ul class="clearfix">
                <li>钢琴</li>
                <li>钢琴</li>
                <li>钢琴</li>
                <li>钢琴</li>
                <li>钢琴</li>
                <li>钢琴</li>
                <li>钢琴</li>
                <li>钢琴</li>
            </ul>
        </div>
        <div class="section-title">
            <h2>TA的其它课程</h2>
        </div>
        <div class="courses-card-container">
            <course-card course="course" ng-repeat="course in coursesList"></course-card>
        </div>
    </ion-content>
</ion-view>
