<ion-view class="my-appointment" view-title="我的预约">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"> <i class="icon ion-ios-arrow-back"></i>
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="course-detail-container">
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a ng-repeat="tabStatus in tabStatusList" class="tab-item" ng-class="{'tab-item-active positive':tabStatus==currentTabStatus}" ng-click="toggleTab(tabStatus)">
                <span class="tab-text">{{ 'page.myPost.tab.'+tabStatus | translate }}</span>
            </a>
        </div>
        <ui-view  name="my-appointment"></ui-view>
    </ion-content>
</ion-view>