<ion-view view-title="课程详情">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"> <i class="icon ion-ios-arrow-back"></i>
            返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-ios-upload-outline"></button>
            <button class="button button-icon icon ion-ios-star-outline"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="course-detail-container">
        <div class="card">
            <div class="img-slider">
                <ion-slide-box>
                    <ion-slide ng-repeat="courseImg in course.pics">
                        <div class="goods-img-container">
                            <img class="full-image" ng-src="{{courseImg.name|transformImgUrl}}" />
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <span class="course-brief-intro list padding item">
            <p>
                <span class="price-section">
                    <span class="price">{{course.price}}</span>
                    /小时
                </span>
                <button ng-click="toAppointment()" type="button" class="appointment-btn button button-small button-positive">预约</button>
            </p>
        </span>
        <user-card user="course.teacher" ng-click="toPersonalHomepage()"></user-card>
        <div class="list card">
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a ng-repeat="tabStatus in tabStatusList" class="tab-item" ng-class="{'tab-item-active positive':tabStatus==currentTabStatus}" ng-click="toggleTab(tabStatus)">
                    <span class="tab-text">{{ 'page.courseDetail.tab.'+tabStatus | translate }}</span>
                </a>
            </div>
            <ui-view name="course-detail"></ui-view>
        </div>
        <div class="section-title">
            <h2>TA的其它课程</h2>
        </div>
        <div class="list">
            <course-card course="course" ng-repeat="course in relatedCourseList"></course-card>
        </div>
    </ion-content>
</ion-view>