<ion-view view-title="课程详情">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
        <ion-nav-back-button class="button-clear"><i class="icon ion-ios-arrow-back"></i> 返回</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="course-detail-container">
        <div class="card">
            <div class="img-slider">
                <ion-slide-box>
                    <ion-slide ng-repeat="courseImg in course.pics">
                        <div class="goods-img-container">
                            <img class="full-image" ng-src="{{courseImg.name|transformImgUrl}}" />
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <span class="course-brief-intro list padding item">
            <p>
                <span class="price-section"><span class="price">{{course.price}}</span>/小时</span>
                <button type="button" class="appointment-btn button button-small button-positive">预约</button>
            </p>
        </span>
        <a class="list padding item teacher-brief-intro item-thumbnail-left">
            <img class="portrait"  ng-src="{{course.teacher.portrait|transformImgUrl}}">
            <p>
                <span class="name" ng-bind="course.teacher.nickname"></span>
                <gender-age age="{{course.teacher.age}}" gender="{{course.teacher.gender}}"></gender-age>
            </p>
            <p class="" ng-bind="course.teacher.motto"></p>
        </a>
        <div class="list card">
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a ng-repeat="tabStatus in tabStatusList" class="tab-item" ng-class="{'tab-item-active positive':tabStatus==currentTabStatus}" ng-click="toggleTab(tabStatus)">
                    <span class="tab-text">{{ 'page.courseDetail.tab.'+tabStatus | translate }}</span>
                </a>
            </div>
            <ui-view name="course-detail"></ui-view>
        </div>
        <div class="section-title">
            <h2>TA的其它课程</h2>
        </div>
        <div class="list">
            <a ng-repeat="course in relatedCourseList" class="item course-card item-thumbnail-left" ng-href="#app/course_detail/{{course.id}}/course_intro">
                <img ng-src="{{course.pics[0].name|transformImgUrl}}">
                <h3 class="title">{{course.title}}（这里需要对字数进行控制）</h3>
                <p>
                    <rating-star mark="{{course.rating}}"></rating-star>
                    <span class="teacher-section">
                        <span class="name" ng-bind="course.teacher.nickname"></span>
                        <gender-age age="{{course.teacher.age}}" gender="{{course.teacher.gender}}"></gender-age>
                    </span>
                </p>
                <p><span class="location">陆家嘴正大星美广场</span><span class="price-section"><span class="price">{{course.price}}</span>/小时</span></p>
            </a>
        </div>
    </ion-content>
</ion-view>
